/* Page defaults */

body {
	margin: 1vh 1vw;
	text-align: center;
	
	background-color: #ccc;
	color: black;
	font-family: monospace;
	font-size: 14px;
}

div {
	text-align: left;
	background-color: white;
}

hr { border: 1px #444 solid; }

p { margin: 0; }

/* Default button settings */

a, button {
	font-family: monospace;
	font-size: 14px;
	transition-duration: 0.1s;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
	
	width: auto;
	height: min-content;
	background: inherit;
	border: none;
	padding: 0 0;
	outline: none;
}

a:hover, button:hover { opacity: 0.75; }
a:active, button:active { opacity: 0.5; }

/* Button variants */

button.option {
	background: white;
	color: black;
	border: 1px #888 solid;
	
	padding: 4px 8px;
	height: auto;
	margin: 0 5px 5px 0;
}

button.option:hover {
	opacity: 1;
	background-color: #ddd;
}

button.option:active {
	opacity: 1;
	background-color: #bbb;
}

button#primary:disabled, button#secondary:disabled {
	opacity: 0.5;
}

button#primary:disabled:hover, button#secondary:disabled:hover {
	background-color: white;
	cursor: default;
}

/* Division sizing and settings */

div.disp-side {
	display: inline-block;
	vertical-align: top;
	background-color: #ccc;

	width: 20vw;
	min-width: 250px;
	height: 97vh;
	min-height: 410px;
}

div#events {
	display: inline-block;

	width: calc(50vw - 60px);
	min-width: 250px;
	height: calc(97vh - 20px);
	min-height: 400px;
}

div#enemy {
	display: inline-block;
	border: 1px solid #555;
	text-align: center;
	width: 100%;
	padding: 14px 0;
	margin: 14px 0;
}

div.disp-side div, div#events {
	outline: 1px solid #555;
	padding: 10px;
	overflow: auto;
}

div.disp-side div {
	width: auto;
	height: calc(50% - 25px);
}

div.disp-side div:first-child { margin-bottom: 10px; }

/* Project utilities */

p.header {
	text-align: center;
	margin-top: 5px;
}

hr.header {
	border: 1px solid #555;
	margin: 15px 0;
}